<div *ngIf="recipeItem === null">
  <h4>Please select a recipe!</h4>
</div>
<div class="row">
  <div class="col-xs-12">
    <img
    [src]="recipeItem.imagePath"
    alt="{{recipeItem.name}}"
    class="img-responsive"
    style="max-height: 300px; max-width: 300px;">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipeItem.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle"> Manage <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddIngredients()" style="cursor: pointer;">Add to Shopping List</a></li>
        <li><a [routerLink] = "['/recipes', id, 'edit']" style="cursor:pointer">Edit Recipe</a></li>
        <li><a style="cursor:pointer" (click) = "onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{recipeItem.description}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipeItem.ingredients">
        {{ ingredient.name }} <span class="badge badge-success">{{ ingredient.amount }}</span>
      </li>
    </ul>
  </div>
</div>
